htmlcov/
.history/
dist/
build/
data_genie*.egg-info/
.coverage
**/__pycache__/**
results.xml

docs/_build
docs/_static
docs/_templates
.vscode
.scannerwork/
.env
pytest-report.xml
coverage.xml
.idea
.hypothesis/
**/*pyc